<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2 class="link" ng-click="vm.clearSelectedCubicle()">
            <a ui-sref="index.mainFormalities">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                Trámites
            </a>
        </h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.car">Vehículos</a>
            </li>
            <li>
                <b>No. Económico {{vm.car.id}}</b>
            </li>
            <li class="active">
                <a ui-sref="index.mainFormalities">Trámites</a>
            </li>
            <li class="active">
                Infracciones
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12 animated fadeInRight">

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-folder-open"></i>Infracciones</h5>
                    <div ibox-tools></div>
                </div>

                <div class="btn-bar">
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Actualizar Infracciones"
                            ng-click="vm.refresh()">
                        <i class="fa fa-refresh"></i> Actualizar Lista
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Seleccionar todos"
                            ng-click="vm.selectAll()">
                        <i class="fa fa-check"></i>
                        <span ng-hide="vm.allselected">Seleccionar todos</span>
                        <span ng-show="vm.allselected">Deseleccionar todos</span>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Agregar Infracción"
                            ng-click="vm.openInfringementModal(false)">
                        <i class="fa fa-plus"></i>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Modificar"
                            ng-disabled="!vm.updateEnabled" ng-click="vm.openInfringementModal(true)">
                        <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Activar"
                            ng-disabled="!vm.activateEnabled" ng-click="vm.activateInfringements()">
                        <i class="fa fa-check"></i>
                    </button>
                    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Desactivar"
                            ng-disabled="!vm.deactivateEnabled" ng-click="vm.deactivateInfringements()">
                        <i class="fa fa-times"></i>
                    </button>
                    <label class="margin-left-md">
                        <input type="checkbox" ng-model="vm.inactiveInfringements" ng-click="vm.refresh()"> &nbsp;Infracciones Inactivas
                    </label>
                </div>

                <div class="ibox-content">

                    <table datatable="ng" dt-options="dtOptions"
                           class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Situación</th>
                            <th>Estado</th>
                            <th>Folio</th>
                            <th>Fecha de Infracción</th>
                            <th>Fecha de Imposición</th>
                            <th>Costo Total</th>
                            <th>Importe pagado</th>
                            <th>Archivo</th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="infringement in vm.infringementList">
                            <td class="text-center">
                                <input type="checkbox" ng-model="infringement.selected" ng-click="vm.enableBts()">
                            </td>
                            <!-- <td ng-if="vm.inactiveUsers"> -->
                            <td>
                                <label class="label label-primary" ng-show="infringement.active">Activo</label>
                                <label class="label label-danger" ng-hide="infringement.active">Inactivo</label>
                            </td>
                            <td>
                                <label class="label label-primary" ng-show="infringement.state">Pagada</label>
                                <label class="label label-danger" ng-hide="infringement.state">No Pagada</label>
                            </td>
                            <td>{{infringement.folio}}</td>
                            <td>{{infringement.infringementDate | date:'dd/MM/yyyy HH:mm'}}</td>
                            <td>{{infringement.taxationDate | date:'dd/MM/yyyy'}}</td>
                            <td>{{infringement.cost}}</td>
                            <td>{{infringement.impo}}</td>
                            <td class="text-center">
                                <i class="fa fa-cloud fa-2x main-color clickable" ng-click="vm.goCloud(infringement)"></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>