<div class="inmodal">
    <form role="form" name="vm.insuranceForm" novalidate ng-submit="vm.save()">
        <div class="modal-header">
            <h4 class="modal-title">{{vm.action}} Aseguradora</h4>
        </div>
        <div class="modal-body">

            <label>No. ECONÓMICO (AUTOMÁTICO)</label>
            <input name="id" type="text" class="form-control" ng-model="vm.insurance.vehicle.id" disabled><br>

            <input-validator input-name="insuranceName" label="ASEGURADORA" form="vm.insuranceForm" model="vm.insurance.insuranceName" required="true"
                             min-length="2" max-length="30"></input-validator>

            <input-validator input-name="policyNumber" label="No. POLIZA" form="vm.insuranceForm" model="vm.insurance.policyNumber" required="true"
                             min-length="2" max-length="40" restrict="alphanumeric"></input-validator>

            <date-validator input-name="startDate" label="FECHA DE INICIO" form="vm.insuranceForm"
                            model="vm.insurance.startDate"
                            required="true"></date-validator>

            <date-validator input-name="dueDate" label="FECHA DE VENCIMIENTO" form="vm.insuranceForm"
                            model="vm.insurance.dueDate"
                            required="true"></date-validator>

            <input-validator input-name="cost" label="COSTO PRIMA" form="vm.insuranceForm" model="vm.insurance.cost"
                             required="true"
                             max-length="20" restrict="double"></input-validator>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancelar</button>
            <button class="btn btn-sm btn-primary" type="submit" ng-disabled="vm.enableSaveBtn"><strong>Guardar</strong>
            </button>
        </div>
    </form>
</div>

<loading-bar ng-show="vm.loading"></loading-bar>