<div class="inmodal">
    <form role="form" name="vm.tenureForm" novalidate ng-submit="vm.save()">
        <div class="modal-header">
            <h4 class="modal-title">{{vm.action}} Tenencia</h4>
        </div>
        <div class="modal-body">

            <label>No. ECONÓMICO (AUTOMÁTICO)</label>
            <input name="id" type="text" class="form-control" ng-model="vm.tenure.vehicle.id" disabled><br>

            <input-validator input-name="folio" label="FOLIO" form="vm.tenureForm" model="vm.tenure.folio"
                             required="true"
                             min-length="4" max-length="20" restrict="alphanumeric"></input-validator>

            <date-validator input-name="date" label="FECHA" form="vm.tenureForm"
                            model="vm.tenure.date"
                            required="true"></date-validator>

            <year-validator input-name="year" label="EJERCICIO FISCAL (AÑO)" form="vm.tenureForm"
                            model="vm.tenure.year"
                            required="true"></year-validator>

            <input-validator input-name="cost" label="COSTO" form="vm.tenureForm" model="vm.tenure.cost"
                             required="true"
                             max-length="20" restrict="double"></input-validator>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancelar</button>
            <button class="btn btn-sm btn-primary" type="submit" ng-disabled="vm.enableSaveBtn"><strong>Guardar</strong>
            </button>
        </div>
    </form>
</div>

<loading-bar ng-show="vm.loading"></loading-bar>