<div class="wrapper wrapper-content">
  <div class="row">
    <div class="col-lg-12 animated fadeInRight">

      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5><i class="fa fa-folder-open"></i>Monitoreos</h5>
          <div ibox-tools></div>
        </div>

        <div class="btn-bar">
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Actualizar Monitoreos"
                  ng-click="vm.refresh()">
            <i class="fa fa-refresh"></i> Actualizar Lista
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Seleccionar todos"
                  ng-click="vm.selectAll()">
            <i class="fa fa-check"></i>
            <span ng-hide="vm.allselected">Seleccionar todos</span>
            <span ng-show="vm.allselected">Deseleccionar todos</span>
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Agregar Monitoreo"
                  ng-click="vm.openMonitoringModal(false)">
            <i class="fa fa-plus"></i>
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Modificar"
                  ng-disabled="!vm.updateEnabled" ng-click="vm.openMonitoringModal(true)">
            <i class="fa fa-pencil"></i>
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Activar"
                  ng-disabled="!vm.activateEnabled" ng-click="vm.activateMonitorings()">
            <i class="fa fa-check"></i>
          </button>
          <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Desactivar"
                  ng-disabled="!vm.deactivateEnabled" ng-click="vm.deactivateMonitorings()">
            <i class="fa fa-times"></i>
          </button>
          <label class="margin-left-md">
            <input type="checkbox" ng-model="vm.inactiveMonitorings" ng-click="vm.refresh()"> &nbsp;Monitoreos Inactivas
          </label>

        </div>

        <div class="ibox-content">

          <table datatable="ng" dt-options="dtOptions"
                 class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Situación</th>
              <th>No. Economico</th>
              <th>Técnico</th>
              <th>Destino</th>
              <th>Fecha</th>
              <th>Hora de llegada</th>
              <th>Hora de salida</th>
              <th>Archivo</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="monitoring in vm.monitoringList">
              <td class="text-center">
                <input type="checkbox" ng-model="monitoring.selected" ng-click="vm.enableBts()">
              </td>
              <td>
                <label class="label label-primary" ng-show="monitoring.active">Activo</label>
                <label class="label label-danger" ng-hide="monitoring.active">Inactivo</label>
              </td>
              <td>{{monitoring.vehicle.id}}</td>
              <td>{{monitoring.technician.name}}</td>
              <td>{{monitoring.destination}}</td>
              <td>{{monitoring.date | date:'dd/MM/yyyy'}}</td>
              <td>{{monitoring.entryTime | date:'HH:mm'}}</td>
              <td>{{monitoring.departureTime | date:'HH:mm'}}</td>
              <td class="text-center">
                <i class="fa fa-cloud fa-2x main-color clickable" ng-click="vm.goCloud(monitoring)"></i>
              </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>
</div>