<div class="form-group" ng-class="(form.forceValidation || form.$submitted || (form.$dirty && formModel.$dirty)) && formModel.$invalid ? 'has-error' : ''">
  <label>{{label}} <strong class="red" ng-if="required">*</strong></label>
  <div class="input-group date">
    <input type="datetime"
           class="form-control"
           date-time
           name="{{inputName}}"
           ng-model="$parent.model"
           ng-required="required"
           view="date"
           auto-close="true"
           min-view="date"
           format="DD/MM/YYYY">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  </div>
  <div class="m-t-xs" ng-show="(form.forceValidation || form.$submitted || (form.$dirty && formModel.$dirty)) && formModel.$invalid">
    <small class="text-danger" ng-show="formModel.$error.required">Ingrese {{ label }}.</small>
  </div>
</div>