<div class="inmodal">
  <form role="form" name="vm.gasCardForm" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <h4 class="modal-title">{{vm.action}} Tarjeta de Gas</h4>
    </div>
    <div class="modal-body">

      <input-validator input-name="folio" label="FOLIO" form="vm.gasCardForm" model="vm.gasCard.folio"
                       required="true"
                       min-length="6" max-length="8" restrict="alphanumeric"></input-validator>

      <input-validator input-name="nip" label="NIP" form="vm.gasCardForm" model="vm.gasCard.nip"
                       required="true"
                       min-length="4" max-length="4"></input-validator>

      <date-validator input-name="date" label="FECHA DE CONTRATACIÓN" form="vm.gasCardForm"
                      model="vm.gasCard.date"
                      required="true"></date-validator>

      <input-validator input-name="cost" label="COSTO" form="vm.gasCardForm" model="vm.gasCard.cost"
                       required="true"
                       max-length="20" restrict="double"></input-validator>


    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-white" ng-click="vm.cancel()">Cancelar</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="vm.enableSaveBtn"><strong>Guardar</strong>
      </button>
    </div>
  </form>
</div>

<loading-bar ng-show="vm.loading"></loading-bar>