<div class="inmodal">
  <form role="form" name="vm.userForm" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <h4 class="modal-title">Restablecer Contraseña</h4>
    </div>
    <div class="modal-body">

      <input-validator input-name="user" label="Correo Electrónico" form="vm.userForm" model="vm.user.user" type="email"
                       required="true" min-length="5" max-length="100"></input-validator>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" ng-click="vm.cancel()">Cancelar</button>
      <button class="btn btn-primary" type="submit" ng-disabled="vm.enableSaveBtn"><strong>Restablecer</strong>
      </button>
    </div>
  </form>
</div>

<loading-bar ng-show="vm.loading"></loading-bar>