<div class="inmodal">
  <form role="form" name="userForm" novalidate ng-submit="vm.save()">
    <div class="modal-header">
      <h4 class="modal-title">Cambie la contraseña</h4>
    </div>
    <div class="modal-body">

      <div ng-if="vm.askOldPassword" class="form-group" ng-class="userForm.$dirty && userForm.oldPassword.$invalid ? 'has-error' : ''">
        <label>Contraseña actual</label>
        <input type="password" placeholder="****" class="form-control" name="oldPassword" ng-model="vm.user.oldPassword" max-length="100" required>
        <div class="m-t-xs" ng-show="userForm.$dirty && userForm.oldPassword.$invalid">
          <small class="text-danger" ng-show="userForm.oldPassword.$error.required">Ingrese una contraseña</small>
          <small class="text-danger" ng-show="userForm.oldPassword.$error.wrong">La contraseña es incorrecta</small>
        </div>
      </div>
      <div class="form-group" ng-class="userForm.$dirty && userForm.password.$invalid ? 'has-error' : ''">
        <label>Nueva contraseña</label>
        <input type="password" placeholder="****" class="form-control" name="password" ng-model="vm.user.password"
               min-length="4" max-length="100" required>
        <div class="m-t-xs" ng-show="userForm.$dirty && userForm.password.$invalid">
          <small class="text-danger" ng-show="userForm.password.$error.required">Ingrese una contraseña</small>
          <small class="text-danger" ng-show="userForm.password.$error.minlength">La contraseña debe contener al menos 4
            carácteres.
          </small>
          <small class="text-danger" ng-show="userForm.password.$error.repeated">La contraseña no puede ser igual a la anterior</small>
        </div>
      </div>
      <div class="form-group" ng-class="userForm.$dirty && userForm.repeatPassword.$invalid ? 'has-error' : ''">
        <label>Repetir contraseña</label>
        <input type="password" placeholder="****" class="form-control" name="repeatPassword"
               ng-model="vm.user.repeatPassword" min-length="4" max-length="100" required>
        <div class="m-t-xs" ng-show="userForm.$dirty && userForm.repeatPassword.$invalid">
          <small class="text-danger" ng-show="userForm.repeatPassword.$error.required">Ingrese una contraseña.</small>
          <small class="text-danger" ng-show="userForm.repeatPassword.$error.minlength">La contraseña debe contener al
            menos 4 carácteres.
          </small>
          <small class="text-danger" ng-show="userForm.repeatPassword.$error.notEqual">Las contraseña deben coincidir.
          </small>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button ng-if="vm.askOldPassword" class="btn btn-sm btn-default" type="button" ng-click="vm.cancel()"><strong>Cancelar</strong></button>
      <button class="btn btn-sm btn-primary" type="submit"><strong>Aceptar</strong></button>
    </div>
  </form>
</div>

<div class="busy" ng-show="vm.loading">
  <div class="spiner-example">
    <div class="sk-spinner sk-spinner-wave">
      Cargando...
      <div class="sk-rect1"></div>
      <div class="sk-rect2"></div>
      <div class="sk-rect3"></div>
      <div class="sk-rect4"></div>
      <div class="sk-rect5"></div>
    </div>
  </div>
</div>